In [8]:
## load initial packages
import pandas as pd
import numpy as np
import os

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
## load datasets
alabama_hl = pd.read_excel("../data/HLS_data/al_hl_scores.xlsx")
alabama_hl

      Census block group ID  Health literacy estimate
0               10010201001                    248.91
1               10010201002                    248.66
2               10010202001                    233.55
3               10010202002                    238.55
4               10010203001                    247.96
...                     ...                       ...
3430            11339658004                    238.57
3431            11339658005                    240.85
3432            11339659001                    234.09
3433            11339659002                    242.73
3434            11339659003                    244.07

[3435 rows x 2 columns]

In [21]:
def extract_xlsx(folder_path):
    series = []
    for filename in os.listdir(folder_path):
        if filename.endswith(".xlsx"):
            xlsx_path = os.path.join(folder_path, filename)
            data = pd.read_excel(xlsx_path)
            series.append(data)
    return series

hls_df = pd.concat(extract_xlsx("../data/HLS_data"))
hls_df

      Census block group ID  Health literacy estimate
0              500019601001                    262.19
1              500019601002                    254.69
2              500019601003                    258.22
3              500019602001                    254.83
4              500019602002                    253.05
...                     ...                       ...
2142            51499525003                    232.52
2143            51499525004                    237.52
2144            51499526001                    240.16
2145            51499526002                    235.17
2146            51499526003                    238.22

[162591 rows x 2 columns]