In [2]:
## load initial packages
import pandas as pd
import numpy as np
import os

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
## load datasets
alabama_hl = pd.read_excel("../data/HLS_data/al_hl_scores.xlsx")
alabama_hl

      Census block group ID  Health literacy estimate
0               10010201001                    248.91
1               10010201002                    248.66
2               10010202001                    233.55
3               10010202002                    238.55
4               10010203001                    247.96
...                     ...                       ...
3430            11339658004                    238.57
3431            11339658005                    240.85
3432            11339659001                    234.09
3433            11339659002                    242.73
3434            11339659003                    244.07

[3435 rows x 2 columns]

In [21]:
def extract_xlsx(folder_path):
    series = []
    for filename in os.listdir(folder_path):
        if filename.endswith(".xlsx"):
            xlsx_path = os.path.join(folder_path, filename)
            data = pd.read_excel(xlsx_path)
            series.append(data)
    return series

hls_df = pd.concat(extract_xlsx("../data/HLS_data"))
hls_df

      Census block group ID  Health literacy estimate
0              500019601001                    262.19
1              500019601002                    254.69
2              500019601003                    258.22
3              500019602001                    254.83
4              500019602002                    253.05
...                     ...                       ...
2142            51499525003                    232.52
2143            51499525004                    237.52
2144            51499526001                    240.16
2145            51499526002                    235.17
2146            51499526003                    238.22

[162591 rows x 2 columns]

In [4]:
mapping = pd.read_csv("../data/HLS_data/zip_code_database.csv")
mapping

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42730,99926,PO BOX,0,Metlakatla,NaN,NaN,AK,Prince of Wales-Outer Ketchikan Borough,America/Metlakatla,907,NaN,US,55.14,-131.49,1140
42731,99927,PO BOX,0,Point Baker,NaN,NaN,AK,Prince of Wales-Hyder Census Area,America/Sitka,907,NaN,US,56.30,-133.57,48
42732,99928,PO BOX,0,Ward Cove,NaN,NaN,AK,Ketchikan Gateway Borough,America/Sitka,907,NaN,US,55.45,-131.79,1530
42733,99929,PO BOX,0,Wrangell,NaN,NaN,AK,Wrangell City and Borough,America/Sitka,907,NaN,US,56.41,-131.61,2145
42734,99950,PO BOX,0,Ketchikan,"Edna Bay, Kasaan",NaN,AK,Prince of Wales-Outer Ketchikan Borough,America/Sitka,907,NaN,US,55.34,-131.64,262